<launch>

  <arg name="map_yaml" default="$(find simple_planner)/maps/static_map/cappero_laser_odom_diag_2020-05-06-16-26-03.yaml" />
  <arg name="map_png" default="$(find simple_planner)/maps/static_map/cappero_laser_odom_diag_2020-05-06-16-26-03.png" />

  
  <!-- Launch map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" output="screen" />


  <!-- Launch Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_planner)/rviz/new_config.rviz" />

  <!-- Launch the planner node -->
  <node name="planner_node" pkg="simple_planner" type="localized_planner" args="$(arg map_png)" output="screen"/>
 
  <!-- Launch stageros -->
  <node pkg="stage_ros" type="stageros" name="stage" args="$(find simple_planner)/maps/static_map/cappero_laser_odom_diag_obstacle_2020-05-06-16-26-03.world" output="screen"/>


  <!-- Launch AMCL for localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>

      <!-- Initial Pose Parameters -->
    <param name="initial_pose_x" value="53.3"/>
    <param name="initial_pose_y" value="11.9"/>
    <param name="initial_pose_a" value="0.0"/>

    <remap from="scan" to="base_scan"/>
  </node> 

</launch>